body {
  font-family: sans-serif;
  background-color: #F7F7F7;
}

a {
  text-decoration: none;
}

/* a:nth-child(1){
  background-color: yellow;
} */

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  
}
.navbar{
  text-align: center;
}
/* form div {
  margin: 1em;
  display: inline-block;
} */

/* login page */
.form-container{
  width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
  position:relative;
  background:rgba(0,0,0,.1);
}
.login-form{
  width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
}
.label{
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 12px;
  
}
.input{
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255,255,255,.1);
}
.login-button{
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: #60759b;
}
/* categories pages */
/* .categories{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row 
} */
.category-list{
  text-align: center;
  margin-top: 40px;
  font-size: 2.2em;
  margin-bottom: -40px;
}
.categories{
  display: flex;
    width: 1100px;
    margin-left: 90px;
    margin-top: 100px;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid black;
    padding: 50px 30px;
}

.cat-item{
    margin: 5px;
    height: 200px;
    width: 250px;
    background-color: gray;
}
.cat-item[react_id='0']{
  background-image: url('/images/shirt.png');
  background-size:cover;
  -webkit-transition: all 1s ease-in-out; ;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border: 2px solid black;
}
.cat-item[react_id='1']{
  background-image: url('/images/jeans.png');
  background-size:cover;
  -webkit-transition: all 1s ease-in-out; ;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border: 2px solid black;
}
.cat-item[react_id='2']{
  background-image: url('/images/oxford-wave-suit-pants.png');
  background-size:cover;
  -webkit-transition: all 1s ease-in-out; ;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border: 2px solid black;
}
.cat-item[react_id='3']{
  background-image: url('/images/high-heels.png');
  background-size:cover;
  -webkit-transition: all 1s ease-in-out; ;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border: 2px solid black;
}
.cat-item[react_id='4']{
  background-image: url('/images/lingerine-set.png');
  background-size:cover;
  -webkit-transition: all 1s ease-in-out; ;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border: 2px solid black;
}
.cat-item[react_id='5']{
  background-image: url('/images/pamela.png');
  background-size:cover;
  -webkit-transition: all 1s ease-in-out; ;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border: 2px solid black;
}
.cat-item[react_id='6']{
  background-image: url('/images/belt.png');
  background-size:cover;
  -webkit-transition: all 1s ease-in-out; ;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border: 2px solid black;
}

.cat-item[react_id='7']{
  background-image: url('/images/swimsuit.png');
  background-size:cover;
  -webkit-transition: all 1s ease-in-out; ;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border: 2px solid black;
}

.cat-item[react_id='0']:hover{
  width: 240px;
  height: 210px;
}
.cat-item[react_id='1']:hover{
  width: 240px;
  height: 210px;
}
.cat-item[react_id='2']:hover{
  width: 240px;
  height: 210px;
}
.cat-item[react_id='3']:hover{
  width: 240px;
  height: 210px;
}
.cat-item[react_id='4']:hover{
  width: 240px;
  height: 210px;
}
.cat-item[react_id='5']:hover{
  width: 240px;
  height: 210px;
}
.cat-item[react_id='6']:hover{
  width: 240px;
  height: 210px;
}
.cat-item[react_id='7']:hover{
  width: 240px;
  height: 210px;
}
/* .categories:first-child{
  background-color: yellow;
} */
/* closet */
.closets{
  display: flex;
    width: 1100px;
    margin-left: 90px;
    margin-top: 100px;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* .add-item{
  display: flex;
    width: 1100px;
    margin-left: 90px;
    margin-top: 100px;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */
.add-item-btn{
  display: flex;
    width: 1100px;
    margin-left: 90px;
    margin-top: 100px;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.delete-btn{

}

/* add page */
.form{
  display: block;
    text-align: center;
}
.add-form{
  background: #F1E8DD;
    width: 500px;
    height: 500px;
    margin-top: 65px;

    text-align: center;
    display: inline-block;
}
label {
  margin-bottom: 6px;
}
input {
  width: 400px;
  height: 35px;
  /* opacity: 0;
  transform: translateY(1rem); */
} 
.form-add-text{
  margin: 40px;
}
select{
  width: 400px;
  height: 40px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  text-align-last: center;
}
.list-item{
  margin: 20px;
}
.add{
  width: 400px;
  height: 45px;
  margin-top: 50px;
}
